[submodule "extern/range-v3"]
	path = extern/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "extern/open-spiel"]
	path = extern/open-spiel
	url = https://github.com/deepmind/open_spiel
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json
